body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.errorMsg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.nodisplay{
    display:none;
}