body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.errorMsg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

form > button, form > div, form > select{
    margin-top: 15px; 
}